<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.ui.ide.markerResolution">
		<markerResolutionGenerator
			class="su.softcom.cldt.ui.resolver.ProblemResolver"
			markerType="org.eclipse.core.resources.problemmarker">
		</markerResolutionGenerator>
		<markerResolutionGenerator
			class="su.softcom.cldt.ui.resolvers.UninitializedMarkerResolver"
			markerType="su.softcom.cldt.core.marker.uninitialized">
		</markerResolutionGenerator>
	</extension>
	<extension
		point="org.eclipse.ui.editors.markerAnnotationSpecification">
		<specification
			annotationType="su.softcom.cldt.ui.quickfix.error"
			colorPreferenceKey="su.softcom.cldt.ui.annotation.error.color"
			colorPreferenceValue="255,0,0"
			contributesToHeader="true"
			highlightPreferenceValue="true"
			includeOnPreferencePage="true"
			isGoToNextNavigationTarget="true"
			isGoToNextNavigationTargetKey="su.softcom.cldt.ui.annotation.error.GoToNextNavigationTarget"
			isGoToPreviousNavigationTarget="true"
			isGoToPreviousNavigationTargetKey="su.softcom.cldt.ui.annotation.error.GoToPreviousNavigationTarget"
			label="CLDT Problem Marker"
			overviewRulerPreferenceKey="su.softcom.cldt.ui.annotation.error.overview"
			overviewRulerPreferenceValue="true"
			presentationLayer="5"
			showInNextPrevDropdownToolbarAction="true"
			showInNextPrevDropdownToolbarActionKey="su.softcom.cldt.ui.annotation.error.NextPrevDropdownToolbar"
			symbolicIcon="error"
			textPreferenceKey="su.softcom.cldt.ui.annotation.error.text"
			textPreferenceValue="true"
			textStylePreferenceKey="su.softcom.cldt.ui.annotation.error.textstyle"
			textStylePreferenceValue="PROBLEM_UNDERLINE"
			verticalRulerPreferenceKey="su.softcom.cldt.ui.annotation.error.ruler"
			verticalRulerPreferenceValue="true">
		</specification>
	</extension>
	<extension
		point="org.eclipse.ui.views">
		<view
			category="su.softcom.cldt.ui.views.category.optimization"
			class="su.softcom.cldt.ui.views.ObfuscationStatisticView"
			id="su.softcom.cldt.ui.views.obfstatistics"
			name="Оценка оптимизации"
			restorable="true">
		</view>
		<view
			category="su.softcom.cldt.ui.views.category.optimization"
			class="su.softcom.cldt.ui.views.ObfuscationLogView"
			id="su.softcom.cldt.ui.views.obflog"
			name="Протокол оптимизации"
			restorable="true">
		</view>
		<category
			id="su.softcom.cldt.ui.views.category.optimization"
			name="Оптимизация">
		</category>
		<view
			allowMultiple="true"
			category="org.eclipse.ui"
			class="su.softcom.cldt.ui.views.BuildMarkersView"
			icon="icons/view16/build.png"
			id="su.softcom.cldt.ui.views.view.build.markers"
			name="Маркеры сборки"
			restorable="true">
		</view>
	</extension>
	<extension
		point="org.eclipse.ui.popupMenus">
		<objectContribution
			adaptable="true"
			id="su.softcom.cldt.ui.problemAction"
			objectClass="org.eclipse.core.resources.IMarker">
		</objectContribution>
	</extension>
	<extension
		point="org.eclipse.ui.propertyPages">
		<page
			class="su.softcom.cldt.internal.ui.properties.MainCppPropertyPage"
			id="su.softcom.cldt.ui.preferences.cppProperties"
			name="C/C++">
			<enabledWhen>
				<reference
					definitionId="su.softcom.cldt.enablement">
				</reference>
			</enabledWhen>
		</page>
		<page
			category="su.softcom.cldt.ui.preferences.cppProperties"
			class="su.softcom.cldt.internal.ui.properties.CompilerPropertyPage"
			id="su.softcom.cldt.ui.preferences.compilerPage"
			name="Компилятор">
			<enabledWhen>
				<reference
					definitionId="su.softcom.cldt.enablement">
				</reference>
			</enabledWhen>
		</page>
		<page
			category="su.softcom.cldt.ui.preferences.cppProperties"
			class="su.softcom.cldt.internal.ui.properties.LinkerPropertyPage"
			id="su.softcom.cldt.ui.preferences.linkerPage"
			name="Компоновщик">
			<enabledWhen>
				<reference
					definitionId="su.softcom.cldt.enablement">
				</reference>
			</enabledWhen>
		</page>
		<page
			category="su.softcom.cldt.ui.preferences.cppProperties"
			class="su.softcom.cldt.internal.ui.properties.EnvironmentPropertyPage"
			id="su.softcom.cldt.ui.preferences.environmentPage"
			name="Переменные окружения">
			<enabledWhen>
				<reference
					definitionId="su.softcom.cldt.enablement">
				</reference>
			</enabledWhen>
		</page>
		<page
			category="su.softcom.cldt.ui.preferences.cppProperties"
			class="su.softcom.cldt.internal.ui.properties.CMakePropertyPage"
			id="su.softcom.cldt.ui.properties.cmakeProperties"
			name="Настройки CMake ">
			<enabledWhen>
				<reference
					definitionId="su.softcom.cldt.enablement">
				</reference>
			</enabledWhen>
		</page>
		<page
			category="su.softcom.cldt.ui.preferences.cppProperties"
			class="su.softcom.cldt.internal.ui.properties.DependenciesPropertyPage"
			id="su.softcom.cldt.ui.preferences.dependPage"
			name="Внешние зависимости">
			<enabledWhen>
				<reference
					definitionId="su.softcom.cldt.enablement">
				</reference>
			</enabledWhen>
		</page>
		<page
			category="su.softcom.cldt.ui.preferences.cppProperties"
			class="su.softcom.cldt.internal.ui.properties.ClangTidyPropertyPage"
			id="su.softcom.cldt.ui.preferences.clangTidyPage"
			name="Clang-tidy">
			<enabledWhen>
				<reference
					definitionId="su.softcom.cldt.enablement">
				</reference>
			</enabledWhen>
		</page>
		    <page
          category="su.softcom.cldt.ui.properties.cmakeProperties"
          class="su.softcom.cldt.internal.ui.properties.CMakeInstallPropertyPage"
          id="su.softcom.cldt.ui.properties.cmake.install"
          name="Установка">
        <enabledWhen>
     	<reference
          definitionId="su.softcom.cldt.enablement">
        </reference>
 	  </enabledWhen>
    </page>
	</extension>
	<extension
		point="org.eclipse.core.expressions.definitions">
		<definition id="su.softcom.cldt.enablement">
			<and>
				<instanceof value="org.eclipse.core.resources.IProject" />
				<or>
					<adapt type="org.eclipse.core.resources.IResource">
						<test
							property="org.eclipse.core.resources.projectNature"
							value="su.softcom.cu.core.natures.c">
						</test>
					</adapt>
					<adapt type="org.eclipse.core.resources.IResource">
						<test
							property="org.eclipse.core.resources.projectNature"
							value="su.softcom.cu.core.natures.cpp">
						</test>
					</adapt>
					<adapt type="org.eclipse.core.resources.IResource">
						<test
							property="org.eclipse.core.resources.projectNature"
							value="su.softcom.cu.core.natures.ruc">
						</test>
					</adapt>
					<adapt
						type="org.eclipse.core.resources.IResource">
						<test
							property="org.eclipse.core.resources.projectNature"
							value="su.softcom.cldt.core.cnature">
						</test>
					</adapt>
				</or>
			</and>
		</definition>
	</extension>
	<extension
		point="org.eclipse.ui.menus">
		<menuContribution
			allPopups="false"
			locationURI="popup:su.softcom.cldt.ui.views.translation">
			<command
				commandId="org.eclipse.ui.project.properties"
				label="Свойства"
				style="push">
			</command>
			<command
				commandId="su.softcom.cldt.ui.generateDocumentation"
				label="Сгенерировать отчет об оптимизации"
				style="push">
			</command>
		</menuContribution>
		<menuContribution
			allPopups="false"
			locationURI="popup:su.softcom.cldt.ui.views.optimization">
			<command
				commandId="su.softcom.cldt.ui.optimize.komdiv"
				label="Оптимизировать"
				style="push">
				<visibleWhen
					checkEnabled="false">
					<with
						variable="activeMenuSelection">
						<iterate>
							<instanceof
								value="su.softcom.hsa.software.model.api.ProgramProject">
							</instanceof>
						</iterate>
					</with>
				</visibleWhen>
			</command>
			<command
				commandId="org.eclipse.ui.project.properties"
				label="Свойства"
				style="push">
			</command>
		</menuContribution>
		<menuContribution
			allPopups="false"
			locationURI="popup:su.softcom.cldt.ui.views.nativebuild">
			<command
				commandId="org.eclipse.debug.ui.commands.OpenRunConfigurations"
				icon="platform:/plugin/org.eclipse.debug.ui/icons/full/etool16/run_exc.png"
				label="Выполнить как ..."
				style="push">
			</command>
			<command
				commandId="org.eclipse.debug.ui.commands.OpenDebugConfigurations"
				icon="platform:/plugin/org.eclipse.debug.ui/icons/full/eview16/debug_view.png"
				label="Отладить как ..."
				style="push">
			</command>
			<command
				commandId="org.eclipse.ui.project.properties"
				label="Свойства"
				style="push">
			</command>
		</menuContribution>
		<menuContribution
			allPopups="false"
			locationURI="popup:su.softcom.cldt.ui.views.load">
			<command
				commandId="su.softcom.cldt.ui.handler.nativebuild"
				label="Сборка для целевого вычислителя"
				style="push">
			</command>
			<command
				commandId="su.softcom.cldt.ui.handler.load"
				label="Выгрузка на целевой вычислитель"
				style="push">
			</command>
			<command
				commandId="org.eclipse.ui.project.properties"
				label="Свойства"
				style="push">
				<visibleWhen
					checkEnabled="false">
					<iterate
						ifEmpty="false"
						operator="and">
						<or>
							<instanceof
								value="su.softcom.hsa.solution.model.api.SolutionComponent">
							</instanceof>
						</or>
					</iterate>
				</visibleWhen>
			</command>
		</menuContribution>
		<menuContribution
			allPopups="false"
			locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu">
			<menu
				id="su.softcom.cldt.analysisMenu"
				label="Анализ"
				mnemonic="Анализ">
				<visibleWhen
					checkEnabled="false">
					<iterate ifEmpty="False">
						<adapt
							type="org.eclipse.core.resources.IResource">
							<or>
								<test
									property="org.eclipse.core.resources.projectNature"
									value="su.softcom.cldt.core.cnature">
								</test>
								<test
									property="org.eclipse.core.resources.projectNature"
									value="su.softcom.cldt.core.externalCMakeNature">
								</test>
							</or>
						</adapt>
					</iterate>
				</visibleWhen>

			</menu>
		</menuContribution>
		<menuContribution
			allPopups="false"
			class="su.softcom.cldt.ui.AnalyzisSubmenu"
			locationURI="popup:su.softcom.cldt.analysisMenu">
		</menuContribution>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			id="su.softcom.cldt.ui.optimize.komdiv"
			name="Оптимизировать">
		</command>
		<command
			id="su.softcom.cldt.ui.generateDocumentation"
			name="Генерировать документацию">
		</command>
		<command
			id="su.softcom.cldt.ui.handler.nativebuild"
			name="Сборка для целевого вычислителя">
		</command>
		<command
			id="su.softcom.cldt.ui.handler.load"
			name="Выгрузка на целевой вычислитель">
		</command>
	</extension>
	<extension
		point="org.eclipse.ui.handlers">
		<handler
			class="su.softcom.cldt.internal.ui.handlers.KomdivOptimizeHandler"
			commandId="su.softcom.cldt.ui.optimize.komdiv">
		</handler>
		<handler
			class="su.softcom.cldt.internal.ui.handlers.OptimizationDocumentationHandler"
			commandId="su.softcom.cldt.ui.generateDocumentation">
		</handler>
		<handler
			class="su.softcom.cldt.internal.ui.handlers.NativeBuildHandler"
			commandId="su.softcom.cldt.ui.handler.nativebuild">
		</handler>
		<handler
			class="su.softcom.cldt.internal.ui.handlers.DeployHandler"
			commandId="su.softcom.cldt.ui.handler.load">
		</handler>
		<handler
			class="su.softcom.cldt.internal.ui.handlers.AnalyzisHandler"
			commandId="su.softcom.cldt.ui.analyzisHandler">
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.genericeditor.autoEditStrategies">
		<autoEditStrategy
			class="org.eclipse.tm4e.languageconfiguration.internal.LanguageConfigurationAutoEditStrategy"
			contentType="su.softcom.cldt.core.editors.contenttype.c">
		</autoEditStrategy>
		<autoEditStrategy
			class="org.eclipse.tm4e.languageconfiguration.internal.LanguageConfigurationAutoEditStrategy"
			contentType="su.softcom.cldt.core.editors.contenttype.cpp">
		</autoEditStrategy>
		<autoEditStrategy
			class="org.eclipse.tm4e.languageconfiguration.internal.LanguageConfigurationAutoEditStrategy"
			contentType="su.softcom.cldt.core.editors.contenttype.cuda-cpp">
		</autoEditStrategy>
	</extension>
	<extension
		point="org.eclipse.ui.genericeditor.contentAssistProcessors">
		<contentAssistProcessor
			class="org.eclipse.lsp4e.operations.completion.LSContentAssistProcessor"
			contentType="su.softcom.cldt.core.editors.contenttype.c">
		</contentAssistProcessor>
		<contentAssistProcessor
			class="org.eclipse.lsp4e.operations.completion.LSContentAssistProcessor"
			contentType="su.softcom.cldt.core.editors.contenttype.cpp">
		</contentAssistProcessor>
		<contentAssistProcessor
			class="org.eclipse.lsp4e.operations.completion.LSContentAssistProcessor"
			contentType="su.softcom.cldt.core.editors.contenttype.cuda-cpp">
		</contentAssistProcessor>
	</extension>
	<extension
		point="org.eclipse.ui.genericeditor.presentationReconcilers">
		<presentationReconciler
			class="org.eclipse.tm4e.ui.text.TMPresentationReconciler"
			contentType="su.softcom.cldt.core.editors.contenttype.c">
		</presentationReconciler>
		<presentationReconciler
			class="org.eclipse.tm4e.ui.text.TMPresentationReconciler"
			contentType="su.softcom.cldt.core.editors.contenttype.cpp">
		</presentationReconciler>
		<presentationReconciler
			class="org.eclipse.tm4e.ui.text.TMPresentationReconciler"
			contentType="su.softcom.cldt.core.editors.contenttype.cuda-cpp">
		</presentationReconciler>
	</extension>

	<extension
		point="org.eclipse.ui.editors">
		<editorContentTypeBinding
			contentTypeId="su.softcom.cldt.core.editors.contenttype.c"
			editorId="org.eclipse.ui.genericeditor.GenericEditor">
		</editorContentTypeBinding>
		<editorContentTypeBinding
			contentTypeId="su.softcom.cldt.core.editors.contenttype.cpp"
			editorId="org.eclipse.ui.genericeditor.GenericEditor">
		</editorContentTypeBinding>
		<editorContentTypeBinding
			contentTypeId="su.softcom.cldt.core.editors.contenttype.cuda-cpp"
			editorId="org.eclipse.ui.genericeditor.GenericEditor">
		</editorContentTypeBinding>
		<editorContentTypeBinding
			contentTypeId="su.softcom.cldt.core.editors.contenttype.assembly"
			editorId="org.eclipse.ui.DefaultTextEditor">
		</editorContentTypeBinding>
	</extension>
	<extension
		point="org.eclipse.ui.editors.annotationTypes">
		<type
			markerType="org.eclipse.core.resources.problemmarker"
			name="su.softcom.cldt.ui.quickfix.error"
			super="org.eclipse.ui.workbench.texteditor.error"
			markerSeverity="2">
		</type>
		<type
			markerType="org.eclipse.core.resources.problemmarker"
			name="su.softcom.cldt.ui.quickfix.warning"
			super="org.eclipse.ui.workbench.texteditor.warning"
			markerSeverity="1">
		</type>
		<type
			markerType="org.eclipse.core.resources.problemmarker"
			name="su.softcom.cldt.ui.quickfix.info"
			super="org.eclipse.ui.workbench.texteditor.info"
			markerSeverity="0">
		</type>
	</extension>
	<extension
		point="org.eclipse.tm4e.languageconfiguration.languageConfigurations">
		<languageConfiguration
			contentTypeId="su.softcom.cldt.core.editors.contenttype.c"
			path="syntaxes/language-configuration.json">
		</languageConfiguration>
		<languageConfiguration
			contentTypeId="su.softcom.cldt.core.editors.contenttype.cpp"
			path="syntaxes/language-configuration.json">
		</languageConfiguration>
		<languageConfiguration
			contentTypeId="su.softcom.cldt.core.editors.contenttype.cuda-cpp"
			path="syntaxes/language-configuration.json">
		</languageConfiguration>
	</extension>
	<extension
		point="org.eclipse.tm4e.registry.grammars">
		<grammar
			path="syntaxes/c.tmLanguage.json"
			scopeName="lngpck.source.c">
		</grammar>
		<scopeNameContentTypeBinding
			contentTypeId="su.softcom.cldt.core.editors.contenttype.c"
			scopeName="lngpck.source.c">
		</scopeNameContentTypeBinding>
		<grammar
			path="syntaxes/cpp.embedded.macro.tmLanguage.json"
			scopeName="lngpck.source.cpp.embedded.macro">
		</grammar>
		<scopeNameContentTypeBinding
			contentTypeId="su.softcom.cldt.core.editors.contenttype.cpp"
			scopeName="lngpck.source.cpp.embedded.macro">
		</scopeNameContentTypeBinding>
		<grammar
			path="syntaxes/cpp.tmLanguage.json"
			scopeName="lngpck.source.cpp">
		</grammar>
		<scopeNameContentTypeBinding
			contentTypeId="su.softcom.cldt.core.editors.contenttype.cpp"
			scopeName="lngpck.source.cpp">
		</scopeNameContentTypeBinding>
		<grammar
			path="syntaxes/platform.tmLanguage.json"
			scopeName="lngpck.source.c.platform">
		</grammar>
		<grammar
			path="syntaxes/cuda-cpp.tmLanguage.json"
			scopeName="lngpck.source.cuda-cpp">
		</grammar>
		<scopeNameContentTypeBinding
			contentTypeId="su.softcom.cldt.core.editors.contenttype.cuda-cpp"
			scopeName="lngpck.source.cuda-cpp">
		</scopeNameContentTypeBinding>
	</extension>
	<extension
		point="org.eclipse.ui.importWizards">
		<category
			id="su.softcom.cldt.ui.wizardCategory.test"
			name="Опытная функциональность">
		</category>
		<wizard
			category="su.softcom.cldt.ui.cppProjects"
			class="su.softcom.cldt.ui.wizards.CMakeImportWizard"
			icon="icons/view16/cmake.png"
			id="su.softcom.cldt.ui.wizard.cmakeImportWizard"
			name="Проект CMake">
		</wizard>
		<category
			id="su.softcom.cldt.ui.cppProjects"
			name="C/C++">
		</category>
	</extension>

	<!-- Native build -->
	<extension
		point="org.eclipse.debug.ui.launchConfigurationTypeImages">
		<launchConfigurationTypeImage
			configTypeID="su.softcom.cldt.nativebuild.ui.launchConfigurationType"
			icon="icons/view16/launcher.png"
			id="su.softcom.cldt.nativebuild.ui.launchConfigurationTypeImage1">
		</launchConfigurationTypeImage>
		<launchConfigurationTypeImage
			configTypeID="su.softcom.cldt.nativebuild.ui.launchConfigurationType1"
			icon="icons/view16/launcher.png"
			id="su.softcom.cldt.nativebuild.ui.launchConfigurationTypeImage1">
		</launchConfigurationTypeImage>
	</extension>
	<extension
		point="org.eclipse.debug.ui.launchConfigurationTabGroups">
		<launchConfigurationTabGroup
			class="su.softcom.cldt.ui.tabs.BuildLaunchConfigurationTabGroup"
			id="su.softcom.cldt.ui.launchConfigurationTabGroup"
			type="su.softcom.cldt.nativebuild.ui.launchConfigurationType">
			<launchMode
				mode="debug">
			</launchMode>
			<launchMode
				mode="run">
			</launchMode>
		</launchConfigurationTabGroup>
		<launchConfigurationTabGroup
			class="su.softcom.cldt.ui.tabs.DeployLaunchConfigurationTabGroup"
			id="su.softcom.cldt.ui.launchConfigurationTabGroup1"
			type="su.softcom.cldt.nativebuild.ui.launchConfigurationType1">
			<launchMode
				mode="debug">
			</launchMode>
			<launchMode
				mode="run">
			</launchMode>
		</launchConfigurationTabGroup>
	</extension>

	<extension
		point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension
			targetID="su.softcom.cldt.ui.perspective.nativebuild">
		</perspectiveExtension>
		<perspectiveExtension
			targetID="su.softcom.cldt.ui.perspective.loadsolution">
		</perspectiveExtension>
	</extension>
	<extension
		point="org.eclipse.ui.ide.markerSupport">
		<markerContentGenerator
			defaultMarkerGrouping="org.eclipse.ui.ide.severity"
			id="su.softcom.cldt.ui.buildMarkerGenerator"
			name="Генератор контента для маркеров сборки">
			<markerFieldReference
				id="org.eclipse.ui.ide.severityAndDescriptionField"
				visible="true">
			</markerFieldReference>
			<markerFieldReference
				id="org.eclipse.ui.ide.resourceField"
				visible="true">
			</markerFieldReference>
			<markerFieldReference
				id="org.eclipse.ui.ide.pathField"
				visible="true">
			</markerFieldReference>
			<markerFieldReference
				id="org.eclipse.ui.ide.locationField"
				visible="true">
			</markerFieldReference>
			<markerFieldReference
				id="org.eclipse.ui.ide.idField"
				visible="false">
			</markerFieldReference>
			<markerFieldReference
				id="org.eclipse.ui.ide.creationTimeField"
				visible="false">
			</markerFieldReference>
			<markerFieldReference
				id="org.eclipse.ui.ide.markerType"
				visible="true">
			</markerFieldReference>
			<markerGrouping
				id="org.eclipse.ui.ide.type"
				label="Группировка по типу">
			</markerGrouping>
			<markerTypeReference
				id="su.softcom.cldt.common.markers.buildmarker">
			</markerTypeReference>
		</markerContentGenerator>
	</extension>
	<extension
		point="org.eclipse.ui.preferencePages">
		<page
			category="su.softcom.cldt.ui.preferences.CPreferences"
			class="su.softcom.cldt.internal.ui.preferences.CMakePreferences"
			id="su.softcom.cldt.ui.preferences.CMakePreferences"
			name="Система сборки">
		</page>
		<page
			class="su.softcom.cldt.internal.ui.preferences.CPreferences"
			id="su.softcom.cldt.ui.preferences.CPreferences"
			name="С/С++">
		</page>
		<page
			category="su.softcom.cldt.ui.preferences.CPreferences"
			class="su.softcom.cldt.internal.ui.preferences.ToolchainsPreferences"
			id="su.softcom.cldt.ui.preferences.ToolchainsPreferences"
			name="Кросс-компиляция">
		</page>
	</extension>

	<extension
		point="org.eclipse.ui.console.consoleFactories">
		<consoleFactory
			class="su.softcom.cldt.internal.ui.console.OptiomizationConsoleFactory"
			icon="icons/view16/optimization.png"
			label="Оптимизация">
		</consoleFactory>
	</extension>
	<extension
		point="org.eclipse.ui.navigator.navigatorContent">
		<navigatorContent
			activeByDefault="true"
			contentProvider="su.softcom.cldt.internal.ui.CMakeContentProvider"
			icon="icons/view16/cmake.png"
			id="su.softcom.cldt.ui.navigatorContent.cmake"
			labelProvider="su.softcom.cldt.internal.ui.CMakeLabelProvider"
			name="CMake navigator content"
			priority="highest">

			<triggerPoints>
				<or>
					<adapt type="org.eclipse.core.resources.IProject"> </adapt>
					<adapt
						type="org.eclipse.core.resources.IFolder">
					</adapt>
     <adapt
           type="org.eclipse.core.resources.IFile">
     </adapt>
     <instanceof
           value="su.softcom.cldt.core.source.SourceFile">
     </instanceof>
				</or>
			</triggerPoints>
			<possibleChildren>
				<or>
					<instanceof value="org.eclipse.core.resources.IFile" />
					<instanceof value="org.eclipse.core.resources.IFolder" />
					<instanceof
						value="org.eclipse.core.resources.IProject">
					</instanceof>
					<instanceof value="org.eclipse.core.resources.IResource" />
					<instanceof
						value="su.softcom.cldt.internal.ui.CMakeTargetsFolder">
					</instanceof>
     <instanceof
           value="su.softcom.cldt.core.source.SourceFile">
     </instanceof>
     <instanceof
           value="su.softcom.cldt.core.source.SourceElement">
     </instanceof>
				</or>
			</possibleChildren>
			<override
				policy="InvokeOnlyIfSuppressedExtAlsoVisibleAndActive"
				suppressedExtensionId="org.eclipse.ui.navigator.resourceContent">
			</override>

			<actionProvider
				class="org.eclipse.ui.internal.navigator.resources.actions.ShowInActionProvider"
				id="su.softcom.cldt.ui.actions.showInActionProvider"
				overrides="org.eclipse.ui.navigator.resources.ShowInActionProvider">
				<enablement>
					<or>
						<instanceof value="org.eclipse.core.resources.IResource" />
						<instanceof value="su.softcom.cldt.core.source.SourceFile" />
					</or>
				</enablement>


			</actionProvider>
			<actionProvider
				class="org.eclipse.ui.internal.navigator.resources.actions.EditActionProvider"
				id="su.softcom.cldt.ui.actions.editActionProvider"
				overrides="org.eclipse.ui.internal.navigator.resources.actions.EditActionProvider"
				priority="normal">
				<enablement>
					<or>
						<instanceof value="su.softcom.cldt.core.source.SourceFile" />
					</or>
				</enablement>
			</actionProvider>
			<commonSorter
				class="su.softcom.cldt.ui.CMakeViewerComparator"
				id="su.softcom.cldt.ui.cmakeViewerComporator">
				<parentExpression>
       <or>
          <instanceof
                value="su.softcom.cldt.core.source.ISourcePart">
          </instanceof>
          <instanceof
                value="org.eclipse.core.resources.IResource">
          </instanceof>
       </or>
				</parentExpression>
			</commonSorter>

			<actionProvider
				class="su.softcom.cldt.internal.ui.actions.TargetActionProvider"
				id="su.softcom.cldt.ui.NewTargetActionProvider"
				priority="high">
				<enablement>
     <or>
        <instanceof
              value="su.softcom.cldt.internal.ui.CMakeTargetsFolder">
        </instanceof>
        <instanceof
              value="su.softcom.cldt.core.cmake.Target">
        </instanceof>
     </or>
				</enablement>
			</actionProvider>
			<actionProvider
				appearsBefore="org.eclipse.ui.navigator.resources.OpenActions"
				class="su.softcom.cldt.internal.ui.actions.CppSourceActionProvider"
				id="su.softcom.cldt.ui.CppSourceActionProvider"
				priority="highest">
				<enablement>
					<instanceof
						value="su.softcom.cldt.core.source.SourceFile">
					</instanceof>
				</enablement>
			</actionProvider>


		</navigatorContent>
	</extension>
	<extension
		point="org.eclipse.ui.navigator.viewer">
		<viewerContentBinding
			viewerId="org.eclipse.ui.navigator.ProjectExplorer">
			<includes>
				<contentExtension
					pattern="su.softcom.cldt.ui.navigatorContent.*">
				</contentExtension>
			</includes>
		</viewerContentBinding>
	</extension>
	<extension
		point="org.eclipse.core.runtime.adapters">
		<factory
			adaptableType="su.softcom.cldt.internal.core.Target"
			class="su.softcom.cldt.ui.AdapterFactory2">
			<adapter
				type="org.eclipse.debug.ui.actions.ILaunchable">
			</adapter>
		</factory>
	</extension>
	<extension
		point="org.eclipse.ui.newWizards">
		<wizard
			class="su.softcom.cldt.ui.wizards.NewTargetWizard"
			id="su.softcom.cldt.ui.wizards.newTargetWizard"
			name="Новая цель сборки"
			project="false">
		</wizard>
	</extension>
	<extension
		point="org.eclipse.ui.activities">
		<activity
			description="Hide irrelevant UI for CLDT"
			id="su.softcom.cldt.ui.cldtActivity"
			name="hideUnusedCLDT">
			<enabledWhen>
				<with variable="true">
					<equals value="false">
					</equals>
				</with>
			</enabledWhen>
		</activity>
		<activityPatternBinding
			activityId="su.softcom.cldt.ui.cldtActivity"
			isEqualityPattern="false"
			pattern="org.eclipse.tm4e.ui/org.eclipse.tm4e.ui.wizards.*">
		</activityPatternBinding>
		<activityPatternBinding
			activityId="su.softcom.cldt.ui.cldtActivity"
			isEqualityPattern="false"
			pattern="org.eclipse.ui.ide/org.eclipse.ui.wizards.import.*">
		</activityPatternBinding>
		<activityPatternBinding
			activityId="su.softcom.cldt.ui.cldtActivity"
			isEqualityPattern="true"
			pattern="org.eclipse.ui.ide/org.eclipse.e4.ui.importer.wizard">
		</activityPatternBinding>
		<activityPatternBinding
			activityId="su.softcom.cldt.ui.cldtActivity"
			isEqualityPattern="false"
			pattern="org.eclipse.team.ui/.*">
		</activityPatternBinding>
		<activityPatternBinding
			activityId="su.softcom.cldt.ui.cldtActivity"
			isEqualityPattern="false"
			pattern="org.eclipse.equinox.p2.ui.importexport/.*">
		</activityPatternBinding>
	</extension>
 <extension
       point="org.eclipse.ui.decorators">
    <decorator
          class="su.softcom.cldt.ui.SourceElementDecorator"
          id="su.softcom.cldt.ui.sourceElementDecorator"
          label="sourceElementDecorator"
          lightweight="true"
          state="true">
       <enablement>
          <or>
             <objectClass
                   name="su.softcom.cldt.core.source.ISourceElement">
             </objectClass>
          </or>
       </enablement>
    </decorator>
 </extension>
	  
	
</plugin>
