<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.console.consolePageParticipants">
      <consolePageParticipant
            class="su.softcom.cldt.ui.console.ConsoleActions"
            id="su.softcom.cldt.ui.console.actions">
         <enablement></enablement>
      </consolePageParticipant>
   </extension>

</plugin>
