<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="su.softcom.cldt.core.analyzisTool" name="Analyzis tool" schema="schema/su.softcom.cldt.core.analyzisTool.exsd"/>
   <extension-point id="su.softcom.cldt.core.cmake.modifier" name="Модификатор CMake" schema="schema/su.softcom.cldt.core.cmake.modifier.exsd"/>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.core.resources.IResource"
            class="org.eclipse.core.runtime.IAdaptable">
         <adapter
               type="org.eclipse.debug.ui.actions.ILaunchable">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="su.softcom.cldt.internal.core.preferences.CInitializer">
      </initializer>
   </extension>
	<extension
       id="su.softcom.cldt.core.cnature"
       name="%natures.CMakeBuild"
       point="org.eclipse.core.resources.natures">
	   <runtime>
	      <run
	            class="su.softcom.cldt.core.CmakeProjectNature">
	      </run>
	   </runtime>
    <builder
          id="su.softcom.cldt.core.builder.build">
    </builder>
    <builder
          id="su.softcom.cldt.core.builder.configure">
    </builder>
    <builder
          id="su.softcom.cldt.core.builder.install">
    </builder>
	</extension>
 <extension
       id="su.softcom.cldt.core.cmakesync"
       name="%natures.CMakeSync"
       point="org.eclipse.core.resources.natures">
    <runtime>
       <run
             class="su.softcom.cldt.core.CMakeUpdateNature">
       </run>
    </runtime>
    <builder
          id="su.softcom.cldt.core.builder.cmakeModifier">
    </builder>
 </extension>
	<extension
         id="su.softcom.cldt.core.builder.configure"
         name="%builders.cmakeConfigure"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="true"
            hasNature="true"
            isConfigurable="true"
            supportsConfigurations="true">
         <run
               class="su.softcom.cldt.internal.core.builders.CMakeConfigureBuilder">
         </run>
      </builder>
   </extension>
 <extension
       id="su.softcom.cldt.core.builder.build"
       name="%builders.cmakeBuild"
       point="org.eclipse.core.resources.builders">
    <builder
          callOnEmptyDelta="true"
          hasNature="true"
          isConfigurable="true"
          supportsConfigurations="true">
       <run
             class="su.softcom.cldt.internal.core.builders.CMakeProjectBuilder">
       </run>
    </builder>
 </extension>
 <extension
       id="su.softcom.cldt.core.builder.cmakeModifier"
       name="%builders.cmakeSync"
       point="org.eclipse.core.resources.builders">
    <builder
          callOnEmptyDelta="true"
          hasNature="true"
          isConfigurable="true"
          supportsConfigurations="true">
       <run
             class="su.softcom.cldt.core.cmake.CMakeModifier">
       </run>
    </builder>
 </extension>
 <extension
       id="su.softcom.cldt.core.builder.install"
       name="Установка"
       point="org.eclipse.core.resources.builders">
    <builder
          callOnEmptyDelta="true"
          hasNature="true"
          isConfigurable="true"
          supportsConfigurations="true">
       <run
             class="su.softcom.cldt.internal.core.builders.CMakeInstallBuilder">
       </run>
    </builder>
 </extension>

	<extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            default-charset="UTF-8"
            file-extensions="c, i"
            id="su.softcom.cldt.core.editors.contenttype.c"
            name="%contenttype.c"
            priority="normal">
      </content-type>
      <content-type
            default-charset="UTF-8"
            file-extensions="cpp, cc, cxx, c++, hpp, hh, hxx, h++, h, ii, ino, inl, ipp, ixx, tpp, txx"
            id="su.softcom.cldt.core.editors.contenttype.cpp"
            name="%contenttype.cpp"
            priority="normal">
      </content-type>
      <content-type
            default-charset="UTF-8"
            file-extensions="cu, cuh"
            id="su.softcom.cldt.core.editors.contenttype.cuda-cpp"
            name="%contenttype.cuda-cpp"
            priority="normal">
      </content-type>
      <content-type
            default-charset="UTF-8"
            file-extensions="asm, S, s"
            id="su.softcom.cldt.core.editors.contenttype.assembly"
            name="%contenttype.assembly"
            priority="normal">
      </content-type>
	</extension>
 <extension
       id="su.softcom.cldt.core.analyzisTool"
       point="su.softcom.cldt.core.analyzisTool">
    <analyzisTool
          class="su.softcom.cldt.core.operations.CLangStaticAnalysisTool"></analyzisTool>
           <analyzisTool
          class="su.softcom.cldt.core.operations.ClangTidyAnalysisTool"></analyzisTool>
 </extension>
 <extension
       point="org.eclipse.ui.commands">
    <command
          id="su.softcom.cldt.core.anlyzis.clang"
          name="Clang Analyzis Command">
       <defaultHandler
             class="su.softcom.cldt.analysis.core.ClangAnalysisHandler">
          <parameter
                name="su.softcom.cldt.core.parameter1"
                value="su.softcom.cldt.core.parameter1">
          </parameter>
       </defaultHandler>
    </command>
    <command
          id="su.softcom.cldt.core.anlyzis.clang-tidy"
          name="Clang Tidy Analyzis Command">
       <defaultHandler
             class="su.softcom.cldt.analysis.core.ClangTidyAnalysisHandler">
       </defaultHandler>
    </command>
 </extension>
 <extension
       id="su.softcom.cldt.markers.build"
       name="Маркер сборки"
       point="org.eclipse.core.resources.markers">
    <super
          type="su.softcom.cldt.markers.llvm">
    </super>
 </extension>
 <extension
       id="su.softcom.cldt.core.marker.uninitialized"
       name="Использование неинициализированной переменной"
       point="org.eclipse.core.resources.markers">
    <super
          type="su.softcom.cldt.markers.llvm">
    </super>
 </extension>
 <extension
       id="su.softcom.cldt.markers.llvm"
       name="LLVM Marker"
       point="org.eclipse.core.resources.markers">
    <super
          type="org.eclipse.core.resources.problemmarker">
    </super>
    <attribute
          name="llvmID">
    </attribute>
 </extension>
 <extension
       id="su.softcom.cldt.marker.analysisMarker"
       name="Маркер анализа"
       point="org.eclipse.core.resources.markers">
    <super
          type="org.eclipse.core.resources.problemmarker">
    </super>
 </extension>
  <extension
         point="org.eclipse.lsp4e.languageServer">
      <server
            class="su.softcom.cldt.internal.core.lsp.CStreamConnectionProvider"
            id="su.softcom.cldt.core.сserver"
            label="%languageserver.clanguageserver">
      </server>
      <contentTypeMapping
            contentType="su.softcom.cldt.core.editors.contenttype.c"
            id="su.softcom.cldt.core.сserver"
            languageId="su.softcom.cldt.core.cserver.c">
      </contentTypeMapping>
      <contentTypeMapping
            contentType="su.softcom.cldt.core.editors.contenttype.cpp"
            id="su.softcom.cldt.core.сserver"
            languageId="su.softcom.cldt.core.cserver.cpp">
	  </contentTypeMapping>
      <contentTypeMapping
            contentType="su.softcom.cldt.core.editors.contenttype.cuda-cpp"
            id="su.softcom.cldt.core.сserver"
            languageId="su.softcom.cldt.core.cserver.cuda-cpp">
      </contentTypeMapping>
	</extension>
</plugin>
